@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .main {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 350px auto;
        grid-template-rows: 3% 1fr 3%;
        grid-gap: 5px;
    }

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .viz {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: auto;
        height: 100%;
        align-self: center;
    }
}


.main-mobile {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 3% auto 1fr 3%;
    grid-gap: 5px;
}

.header {
    background-color: #000000;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.sidebar-mobile {
    grid-row-start: 2;
    grid-row-end: 2;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 500px; */
}

.viz-mobile {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.playlistTracks {
    background-color: green;
    grid-column-start: 1;
}

.footer {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    position: absolute;
    height: 10px;
    bottom: 0;
    width: 100%;
}
