@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .main {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 350px auto;
        grid-template-rows: 3% 1fr 3%;
        grid-gap: 5px;
    }

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .viz {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: auto;
        height: 100%;
        align-self: center;
    }
}
